name: Tests

on:
  - push
    
jobs:
  test:
    name: Run tests
    strategy:
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Check out code
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup Go 1.18
        uses: actions/setup-go@v4
        with:
          go-version: '1.18'
      - run: go mod download
      
      - name: Run tests
        run: make test
